<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft.parent.manager.dao.UserPrivilegeMapper">
  <resultMap id="BaseResultMap" type="com.soft.parent.manager.po.UserPrivilege">
    <id column="privilege_id" jdbcType="INTEGER" property="privilegeId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="is_wholeSalePrice" jdbcType="TINYINT" property="isWholesaleprice" />
    <result column="isDiscount" jdbcType="TINYINT" property="isdiscount" />
    <result column="discount" jdbcType="INTEGER" property="discount" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="state" jdbcType="TINYINT" property="state" />
    <result column="admin_id" jdbcType="INTEGER" property="adminId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    privilege_id, user_id, is_wholeSalePrice, isDiscount, discount, create_time, update_time, 
    state, admin_id
  </sql>
  <select id="selectByExample" parameterType="com.soft.parent.manager.po.UserPrivilegeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_privilege
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="begin != null and length != null">
      limit #{begin} , #{length}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_privilege
    where privilege_id = #{privilegeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_privilege
    where privilege_id = #{privilegeId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.soft.parent.manager.po.UserPrivilegeExample">
    delete from t_privilege
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.soft.parent.manager.po.UserPrivilege">
    insert into t_privilege (privilege_id, user_id, is_wholeSalePrice, 
      isDiscount, discount, create_time, 
      update_time, state, admin_id
      )
    values (#{privilegeId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{isWholesaleprice,jdbcType=TINYINT}, 
      #{isdiscount,jdbcType=TINYINT}, #{discount,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{state,jdbcType=TINYINT}, #{adminId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.soft.parent.manager.po.UserPrivilege">
    insert into t_privilege
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="privilegeId != null">
        privilege_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="isWholesaleprice != null">
        is_wholeSalePrice,
      </if>
      <if test="isdiscount != null">
        isDiscount,
      </if>
      <if test="discount != null">
        discount,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="adminId != null">
        admin_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="privilegeId != null">
        #{privilegeId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="isWholesaleprice != null">
        #{isWholesaleprice,jdbcType=TINYINT},
      </if>
      <if test="isdiscount != null">
        #{isdiscount,jdbcType=TINYINT},
      </if>
      <if test="discount != null">
        #{discount,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null">
        #{state,jdbcType=TINYINT},
      </if>
      <if test="adminId != null">
        #{adminId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.soft.parent.manager.po.UserPrivilegeExample" resultType="java.lang.Long">
    select count(*) from t_privilege
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_privilege
    <set>
      <if test="record.privilegeId != null">
        privilege_id = #{record.privilegeId,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.isWholesaleprice != null">
        is_wholeSalePrice = #{record.isWholesaleprice,jdbcType=TINYINT},
      </if>
      <if test="record.isdiscount != null">
        isDiscount = #{record.isdiscount,jdbcType=TINYINT},
      </if>
      <if test="record.discount != null">
        discount = #{record.discount,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.state != null">
        state = #{record.state,jdbcType=TINYINT},
      </if>
      <if test="record.adminId != null">
        admin_id = #{record.adminId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_privilege
    set privilege_id = #{record.privilegeId,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      is_wholeSalePrice = #{record.isWholesaleprice,jdbcType=TINYINT},
      isDiscount = #{record.isdiscount,jdbcType=TINYINT},
      discount = #{record.discount,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      state = #{record.state,jdbcType=TINYINT},
      admin_id = #{record.adminId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.soft.parent.manager.po.UserPrivilege">
    update t_privilege
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="isWholesaleprice != null">
        is_wholeSalePrice = #{isWholesaleprice,jdbcType=TINYINT},
      </if>
      <if test="isdiscount != null">
        isDiscount = #{isdiscount,jdbcType=TINYINT},
      </if>
      <if test="discount != null">
        discount = #{discount,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=TINYINT},
      </if>
      <if test="adminId != null">
        admin_id = #{adminId,jdbcType=INTEGER},
      </if>
    </set>
    where privilege_id = #{privilegeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.soft.parent.manager.po.UserPrivilege">
    update t_privilege
    set user_id = #{userId,jdbcType=INTEGER},
      is_wholeSalePrice = #{isWholesaleprice,jdbcType=TINYINT},
      isDiscount = #{isdiscount,jdbcType=TINYINT},
      discount = #{discount,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=TINYINT},
      admin_id = #{adminId,jdbcType=INTEGER}
    where privilege_id = #{privilegeId,jdbcType=INTEGER}
  </update>
</mapper>